In [1]:
from sqlalchemy import create_engine, inspect
import pandas as pd

In [2]:
engine = create_engine("sqlite:///../db/mlsseasons.sqlite", echo=False)

In [3]:
inspect(engine)

In [4]:
dataset=pd.DataFrame(engine.execute("""
select s."First Name", s."Last Name", s.Position,
c.Club, c.pts, c."#" as standing, c.season
from seasons c
join club_map m on m.long_name = c.Club
join salaries s on s."Club (grouped)" = m.short_name
where c.season = s.Season
"""),columns=['First Name','Last Name','Position','Club','PTS','Standing','Season'])
dataset

,First Name,Last Name,Position,Club,PTS,Standing,Season
0,None,Carreiro da Silva Fred,M-F,DCD.C. United,55,1,2007
1,Ben,Olsen,M,DCD.C. United,55,1,2007
2,Brad,North,F,DCD.C. United,55,1,2007
3,Brian,Carroll,M,DCD.C. United,55,1,2007
4,Bryan,Arguez,M-D,DCD.C. United,55,1,2007
...,...,...,...,...,...,...,...
6206,Quincy,Amarikwa,F,SJSan Jose Earthquakes,21,23,2018
6207,Shea,Salinas,M,SJSan Jose Earthquakes,21,23,2018
6208,Tommy,Thompson,M,SJSan Jose Earthquakes,21,23,2018
6209,"Valeri ""Vako""",Qazaishvili,M,SJSan Jose Earthquakes,21,23,2018
6210,Yeferson,Quintana,D,SJSan Jose Earthquakes,21,23,2018

In [5]:
dataset["First Name"] = dataset["First Name"].fillna("")

In [6]:
dataset['Player'] = dataset['First Name'] + dataset['Last Name'] # + dataset['Position']
dataset['Team'] = dataset['Club'] + dataset['Season'].apply(str)
dataset

,First Name,Last Name,Position,Club,PTS,Standing,Season,Player,Team
0,,Carreiro da Silva Fred,M-F,DCD.C. United,55,1,2007,Carreiro da Silva Fred,DCD.C. United2007
1,Ben,Olsen,M,DCD.C. United,55,1,2007,BenOlsen,DCD.C. United2007
2,Brad,North,F,DCD.C. United,55,1,2007,BradNorth,DCD.C. United2007
3,Brian,Carroll,M,DCD.C. United,55,1,2007,BrianCarroll,DCD.C. United2007
4,Bryan,Arguez,M-D,DCD.C. United,55,1,2007,BryanArguez,DCD.C. United2007
...,...,...,...,...,...,...,...,...,...
6206,Quincy,Amarikwa,F,SJSan Jose Earthquakes,21,23,2018,QuincyAmarikwa,SJSan Jose Earthquakes2018
6207,Shea,Salinas,M,SJSan Jose Earthquakes,21,23,2018,SheaSalinas,SJSan Jose Earthquakes2018
6208,Tommy,Thompson,M,SJSan Jose Earthquakes,21,23,2018,TommyThompson,SJSan Jose Earthquakes2018
6209,"Valeri ""Vako""",Qazaishvili,M,SJSan Jose Earthquakes,21,23,2018,"Valeri ""Vako""Qazaishvili",SJSan Jose Earthquakes2018
6210,Yeferson,Quintana,D,SJSan Jose Earthquakes,21,23,2018,YefersonQuintana,SJSan Jose Earthquakes2018

In [7]:
a.keys()

NameError: name 'a' is not defined

In [8]:
dataset.groupby("Player").count()["Season"].describe()

count    2250.000000
mean        2.758667
std         2.360747
min         1.000000
25%         1.000000
50%         2.000000
75%         4.000000
max        12.000000
Name: Season, dtype: float64

In [9]:
y = dataset["Player"].tolist()

In [10]:
 from sklearn.preprocessing import LabelEncoder

# Step 1: Label-encode data set
label_encoder = LabelEncoder()
label_encoder.fit(y)
encoded_y = label_encoder.transform(y)
encoded_y

array([ 384,  231,  279, ..., 2122, 2165, 2222], dtype=int64)

In [11]:
dataset['encoded_player'] = encoded_y
dataset['present'] = 1.0
dataset.loc[dataset['Player'] == 'BenOlsen']

,First Name,Last Name,Position,Club,PTS,Standing,Season,Player,Team,encoded_player,present
1,Ben,Olsen,M,DCD.C. United,55,1,2007,BenOlsen,DCD.C. United2007,231,1.0
627,Ben,Olsen,M,DCD.C. United,38,10,2008,BenOlsen,DCD.C. United2008,231,1.0
1005,Ben,Olsen,M,DCD.C. United,40,10,2009,BenOlsen,DCD.C. United2009,231,1.0

In [12]:
samples = dataset.pivot(index="Team", columns="encoded_player", values='present')
samples

encoded_player,0,1,2,3,4,5,6,7,8,9,...,2241,2242,2243,2244,2245,2246,2247,2248,2249,2250
Team,,,,,,,,,,,,,,,,,,,,,
ATLAtlanta United FC2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ATLAtlanta United FC2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CHIChicago Fire FC2007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CHIChicago Fire FC2008,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CHIChicago Fire FC2009,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
VANVancouver Whitecaps FC2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
VANVancouver Whitecaps FC2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
VANVancouver Whitecaps FC2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
VANVancouver Whitecaps FC2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
VANVancouver Whitecaps FC2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
samples.describe()

encoded_player,0,1,2,3,4,5,6,7,8,9,...,2241,2242,2243,2244,2245,2246,2247,2248,2249,2250
count,2.0,10.0,4.0,1.0,2.0,1.0,4.0,3.0,1.0,5.0,...,2.0,1.0,2.0,6.0,1.0,1.0,1.0,2.0,2.0,4.0
mean,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
std,0.0,0.0,0.0,NaN,0.0,NaN,0.0,0.0,NaN,0.0,...,0.0,NaN,0.0,0.0,NaN,NaN,NaN,0.0,0.0,0.0
min,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
25%,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
50%,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
75%,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
max,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

In [15]:
dataset['Standing'] = dataset['Standing'].astype(int)
dataset['PTS'] = dataset['PTS'].astype(int)
y = dataset.groupby('Team').mean()['Standing'].sort_index()
y

Team
ATLAtlanta United FC2017          4
ATLAtlanta United FC2018          2
CHIChicago Fire FC2007            8
CHIChicago Fire FC2008            3
CHIChicago Fire FC2009            6
                                 ..
VANVancouver Whitecaps FC2014     9
VANVancouver Whitecaps FC2015     3
VANVancouver Whitecaps FC2016    16
VANVancouver Whitecaps FC2017     8
VANVancouver Whitecaps FC2018    14
Name: Standing, Length: 218, dtype: int32

In [16]:
from numpy.random import seed
seed(1)
from tensorflow import random
random.set_seed(1)
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import sklearn
import sklearn.datasets

In [17]:
X = samples.fillna(0).sort_index()

In [18]:
# Use train_test_split to create training and testing data
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [19]:
X_test.shape

(55, 2251)

In [20]:
# first, create a normal neural network with 2 inputs, 6 hidden nodes, and 2 outputs
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

model = Sequential()
model.add(Dense(units=32, activation='relu', input_dim=X_train.shape[-1]))
model.add(Dense(units=16, activation='relu'))
model.add(Dense(units=8, activation='relu'))
model.add(Dense(units=1))
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 32)                72064
_________________________________________________________________
dense_1 (Dense)              (None, 16)                528
_________________________________________________________________
dense_2 (Dense)              (None, 8)                 136
_________________________________________________________________
dense_3 (Dense)              (None, 1)                 9
=================================================================
Total params: 72,737
Trainable params: 72,737
Non-trainable params: 0
_________________________________________________________________

In [21]:
# Compile the model
model.compile(optimizer='adam',
              loss='mean_squared_error',
              metrics=['mean_absolute_error'])

In [22]:
# Fit the model to the training data
model.fit(
    X_train,
    y_train,
    epochs=100,
    shuffle=True,
    verbose=2
)

Epoch 1/100
6/6 - 0s - loss: 122.7734 - mean_absolute_error: 9.4394
Epoch 2/100
6/6 - 0s - loss: 119.7668 - mean_absolute_error: 9.2849
Epoch 3/100
6/6 - 0s - loss: 116.7018 - mean_absolute_error: 9.1175
Epoch 4/100
6/6 - 0s - loss: 112.6820 - mean_absolute_error: 8.8956
Epoch 5/100
6/6 - 0s - loss: 107.6189 - mean_absolute_error: 8.5997
Epoch 6/100
6/6 - 0s - loss: 100.6210 - mean_absolute_error: 8.2266
Epoch 7/100
6/6 - 0s - loss: 92.0785 - mean_absolute_error: 7.7564
Epoch 8/100
6/6 - 0s - loss: 81.7319 - mean_absolute_error: 7.1780
Epoch 9/100
6/6 - 0s - loss: 69.7094 - mean_absolute_error: 6.5186
Epoch 10/100
6/6 - 0s - loss: 56.7000 - mean_absolute_error: 5.8062
Epoch 11/100
6/6 - 0s - loss: 43.7446 - mean_absolute_error: 5.1210
Epoch 12/100
6/6 - 0s - loss: 32.7690 - mean_absolute_error: 4.5318
Epoch 13/100
6/6 - 0s - loss: 24.5297 - mean_absolute_error: 3.9654
Epoch 14/100
6/6 - 0s - loss: 19.6598 - mean_absolute_error: 3.6003
Epoch 15/100
6/6 - 0s - loss: 16.3054 - mean_absolute_error: 3.2168
Epoch 16/100
6/6 - 0s - loss: 13.2563 - mean_absolute_error: 2.7974
Epoch 17/100
6/6 - 0s - loss: 10.9392 - mean_absolute_error: 2.4324
Epoch 18/100
6/6 - 0s - loss: 9.0758 - mean_absolute_error: 2.1376
Epoch 19/100
6/6 - 0s - loss: 7.7027 - mean_absolute_error: 1.9104
Epoch 20/100
6/6 - 0s - loss: 6.6830 - mean_absolute_error: 1.7275
Epoch 21/100
6/6 - 0s - loss: 5.7793 - mean_absolute_error: 1.5759
Epoch 22/100
6/6 - 0s - loss: 5.0044 - mean_absolute_error: 1.4491
Epoch 23/100
6/6 - 0s - loss: 4.2892 - mean_absolute_error: 1.3181
Epoch 24/100
6/6 - 0s - loss: 3.6557 - mean_absolute_error: 1.2162
Epoch 25/100
6/6 - 0s - loss: 3.1210 - mean_absolute_error: 1.1261
Epoch 26/100
6/6 - 0s - loss: 2.7366 - mean_absolute_error: 1.0516
Epoch 27/100
6/6 - 0s - loss: 2.3150 - mean_absolute_error: 0.9519
Epoch 28/100
6/6 - 0s - loss: 1.9238 - mean_absolute_error: 0.8490
Epoch 29/100
6/6 - 0s - loss: 1.6219 - mean_absolute_error: 0.7712
Epoch 30/100
6/6 - 0s - loss: 1.3618 - mean_absolute_error: 0.6945
Epoch 31/100
6/6 - 0s - loss: 1.1981 - mean_absolute_error: 0.6527
Epoch 32/100
6/6 - 0s - loss: 1.0391 - mean_absolute_error: 0.5959
Epoch 33/100
6/6 - 0s - loss: 0.8925 - mean_absolute_error: 0.5392
Epoch 34/100
6/6 - 0s - loss: 0.7551 - mean_absolute_error: 0.4883
Epoch 35/100
6/6 - 0s - loss: 0.6569 - mean_absolute_error: 0.4564
Epoch 36/100
6/6 - 0s - loss: 0.5774 - mean_absolute_error: 0.4178
Epoch 37/100
6/6 - 0s - loss: 0.5039 - mean_absolute_error: 0.3834
Epoch 38/100
6/6 - 0s - loss: 0.4313 - mean_absolute_error: 0.3493
Epoch 39/100
6/6 - 0s - loss: 0.3751 - mean_absolute_error: 0.3204
Epoch 40/100
6/6 - 0s - loss: 0.3128 - mean_absolute_error: 0.2918
Epoch 41/100
6/6 - 0s - loss: 0.2768 - mean_absolute_error: 0.2804
Epoch 42/100
6/6 - 0s - loss: 0.2453 - mean_absolute_error: 0.2519
Epoch 43/100
6/6 - 0s - loss: 0.2162 - mean_absolute_error: 0.2258
Epoch 44/100
6/6 - 0s - loss: 0.1887 - mean_absolute_error: 0.2049
Epoch 45/100
6/6 - 0s - loss: 0.1634 - mean_absolute_error: 0.1846
Epoch 46/100
6/6 - 0s - loss: 0.1336 - mean_absolute_error: 0.1673
Epoch 47/100
6/6 - 0s - loss: 0.1145 - mean_absolute_error: 0.1502
Epoch 48/100
6/6 - 0s - loss: 0.0989 - mean_absolute_error: 0.1383
Epoch 49/100
6/6 - 0s - loss: 0.0807 - mean_absolute_error: 0.1293
Epoch 50/100
6/6 - 0s - loss: 0.0714 - mean_absolute_error: 0.1211
Epoch 51/100
6/6 - 0s - loss: 0.0628 - mean_absolute_error: 0.1077
Epoch 52/100
6/6 - 0s - loss: 0.0556 - mean_absolute_error: 0.1019
Epoch 53/100
6/6 - 0s - loss: 0.0494 - mean_absolute_error: 0.0929
Epoch 54/100
6/6 - 0s - loss: 0.0432 - mean_absolute_error: 0.0860
Epoch 55/100
6/6 - 0s - loss: 0.0368 - mean_absolute_error: 0.0790
Epoch 56/100
6/6 - 0s - loss: 0.0323 - mean_absolute_error: 0.0719
Epoch 57/100
6/6 - 0s - loss: 0.0270 - mean_absolute_error: 0.0630
Epoch 58/100
6/6 - 0s - loss: 0.0241 - mean_absolute_error: 0.0586
Epoch 59/100
6/6 - 0s - loss: 0.0210 - mean_absolute_error: 0.0527
Epoch 60/100
6/6 - 0s - loss: 0.0190 - mean_absolute_error: 0.0477
Epoch 61/100
6/6 - 0s - loss: 0.0167 - mean_absolute_error: 0.0431
Epoch 62/100
6/6 - 0s - loss: 0.0152 - mean_absolute_error: 0.0397
Epoch 63/100
6/6 - 0s - loss: 0.0130 - mean_absolute_error: 0.0360
Epoch 64/100
6/6 - 0s - loss: 0.0120 - mean_absolute_error: 0.0341
Epoch 65/100
6/6 - 0s - loss: 0.0107 - mean_absolute_error: 0.0314
Epoch 66/100
6/6 - 0s - loss: 0.0098 - mean_absolute_error: 0.0311
Epoch 67/100
6/6 - 0s - loss: 0.0086 - mean_absolute_error: 0.0287
Epoch 68/100
6/6 - 0s - loss: 0.0075 - mean_absolute_error: 0.0255
Epoch 69/100
6/6 - 0s - loss: 0.0068 - mean_absolute_error: 0.0240
Epoch 70/100
6/6 - 0s - loss: 0.0061 - mean_absolute_error: 0.0227
Epoch 71/100
6/6 - 0s - loss: 0.0055 - mean_absolute_error: 0.0205
Epoch 72/100
6/6 - 0s - loss: 0.0050 - mean_absolute_error: 0.0189
Epoch 73/100
6/6 - 0s - loss: 0.0045 - mean_absolute_error: 0.0178
Epoch 74/100
6/6 - 0s - loss: 0.0040 - mean_absolute_error: 0.0167
Epoch 75/100
6/6 - 0s - loss: 0.0036 - mean_absolute_error: 0.0156
Epoch 76/100
6/6 - 0s - loss: 0.0031 - mean_absolute_error: 0.0144
Epoch 77/100
6/6 - 0s - loss: 0.0029 - mean_absolute_error: 0.0141
Epoch 78/100
6/6 - 0s - loss: 0.0025 - mean_absolute_error: 0.0131
Epoch 79/100
6/6 - 0s - loss: 0.0022 - mean_absolute_error: 0.0122
Epoch 80/100
6/6 - 0s - loss: 0.0020 - mean_absolute_error: 0.0113
Epoch 81/100
6/6 - 0s - loss: 0.0018 - mean_absolute_error: 0.0105
Epoch 82/100
6/6 - 0s - loss: 0.0016 - mean_absolute_error: 0.0102
Epoch 83/100
6/6 - 0s - loss: 0.0014 - mean_absolute_error: 0.0107
Epoch 84/100
6/6 - 0s - loss: 0.0012 - mean_absolute_error: 0.0109
Epoch 85/100
6/6 - 0s - loss: 0.0011 - mean_absolute_error: 0.0100
Epoch 86/100
6/6 - 0s - loss: 0.0011 - mean_absolute_error: 0.0103
Epoch 87/100
6/6 - 0s - loss: 9.2519e-04 - mean_absolute_error: 0.0095
Epoch 88/100
6/6 - 0s - loss: 8.1291e-04 - mean_absolute_error: 0.0084
Epoch 89/100
6/6 - 0s - loss: 6.6897e-04 - mean_absolute_error: 0.0079
Epoch 90/100
6/6 - 0s - loss: 5.0410e-04 - mean_absolute_error: 0.0068
Epoch 91/100
6/6 - 0s - loss: 3.7534e-04 - mean_absolute_error: 0.0059
Epoch 92/100
6/6 - 0s - loss: 2.5952e-04 - mean_absolute_error: 0.0050
Epoch 93/100
6/6 - 0s - loss: 1.8289e-04 - mean_absolute_error: 0.0045
Epoch 94/100
6/6 - 0s - loss: 1.4428e-04 - mean_absolute_error: 0.0045
Epoch 95/100
6/6 - 0s - loss: 1.2497e-04 - mean_absolute_error: 0.0039
Epoch 96/100
6/6 - 0s - loss: 9.5639e-05 - mean_absolute_error: 0.0033
Epoch 97/100
6/6 - 0s - loss: 6.9598e-05 - mean_absolute_error: 0.0030
Epoch 98/100
6/6 - 0s - loss: 5.7072e-05 - mean_absolute_error: 0.0024
Epoch 99/100
6/6 - 0s - loss: 5.0796e-05 - mean_absolute_error: 0.0023
Epoch 100/100
6/6 - 0s - loss: 3.8467e-05 - mean_absolute_error: 0.0020

In [23]:
model_loss, model_accuracy = model.evaluate(
    X_test, y_test, verbose=2)
print(
    f"Normal Neural Network - Loss: {model_loss}, Accuracy: {model_accuracy}")

2/2 - 0s - loss: 32.5726 - mean_absolute_error: 4.4805
Normal Neural Network - Loss: 32.5726432800293, Accuracy: 4.480509281158447